body{
    background: linear-gradient(to bottom right, blue, white);
}

h2{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.responsive {
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 10%;
  }

.informacion{
    margin-top: 5%;
    margin-bottom: 10%;

}

footer{
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: rgba(37, 36, 39, 0.952);
    padding: 5%;
    margin-top: 10%;    
}
